<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inscripts.cometchatpulse.demo">

    <application
        android:name=".CometApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/cc_small"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/cc_small"
        android:supportsRtl="true"
        android:appComponentFactory="null"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:appComponentFactory">
        <activity android:name=".Activity.MessageInfoActivity"></activity>
        <!-- <provider -->
        <!-- android:name="com.google.firebase.provider.FirebaseInitProvider" -->
        <!-- android:authorities="${applicationId}.firebaseinitprovider" -->
        <!-- tools:node="remove" -->
        <!-- /> -->
        <activity android:name=".Activity.BlockedUserListActivity" />
        <activity
            android:name=".Activity.CometChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OneToOneChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.UsersProfileViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GroupChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateGroupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <action android:name="com.inscripts.cometchatpulse.demo.Activity.LoginActivity"/> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GroupDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.VideoViewActivity" />
        <activity android:name=".Activity.IncomingCallActivity" />
        <activity android:name=".Activity.CallActivity" />
        <activity android:name=".Activity.SelectUserActivity"
            android:parentActivityName=".Activity.GroupDetailActivity"/>
    </application>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>